<!-- <p>manager works!</p> -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Manager</h1><!--last choices picture-->
            <!-- <a routerLink="Login">Login</a><br> 
            <a href="/Login"> Login</a><br> -->
            <!-- <a routerLink="User">User</a> -->
            
            <div class="date">
              <h4>Date Time IN</h4><!--Calender-->
              <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
              <input type="date" data-date="" data-date-format="DD/MM/YYYY" value="2020-08-09">
         

              <script>
                  $("input").on("change", function() {
                   this.setAttribute(
                 "data-date",
                   moment(this.value, "YYYY-MM-DD")
                   .format( this.getAttribute("data-date-format") )
                   )
                  }).trigger("change")
              </script>
           <div class="datatable">
          </div>
         
          <div class="date">
             <h4>Date Time OUT</h4><!--Calender-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
            <input type="date" data-date="" data-date-format="DD/MM/YYYY" value="2020-08-09">
          

            <script>
                $("input").on("change", function() {
                 this.setAttribute(
               "data-date",
                 moment(this.value, "YYYY-MM-DD")
                 .format( this.getAttribute("data-date-format") )
                 )
                }).trigger("change")
            </script>
         <div class="datatable">
        </div>
      


          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="main/Manager">Home</a></li><!--fix-->
              <li class="breadcrumb-item active">Manager</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->



    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>150<sup style="font-size: 20px">Min</sup></h3><!--put data -->
                <p>Waiting Time</p>
              </div>



              <div class="icon">
                <i class="fas fa-gas-pump"></i>
              </div> <!-- ทำไมเชื่อมไปหน้าคนขับ-->
              <!--<a href="http://localhost:4200/driver.component.html" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
            </div>
          </div>
          <!-- ./collum -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>Ma15454545<sup style="font-size: 20px"></sup></h3><!--put data -->
                <p>Manager ID</p>
              </div>
              <div class="icon">
                <i class="fas fa-gas-pump"></i>
              </div>
            <!--  <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>-->
            </div>
          </div>


          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>50<sup style="font-size: 20px">Min</sup></h3><!--put data manager -->
           <p>CYC Time Gasohol-95</p>
              </div>
              <div class="icon">
                <i class="fas fa-gas-pump"></i>
              </div>
            <!--  <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>-->
            </div>
          </div>
            
          
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>53<sup style="font-size: 20px">%</sup></h3><!--put data -->
          <p>CYC Time Diesel</p>
           </div>
           <div class="icon"><i class="fas fa-sync-alt"></i></div>
             <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>-->
           </div>
            </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <!--User Data-->
            <div class="card bg-gradient-primary">
                <div class="card-header border-0">
                  <h3 class="card-title">
                    <i class="fas fa-map-marker-alt mr-1"></i>
                    User Data <!--user all information-->
                    <thead > <!-- angular text-->
                      <tr>
                          <th>UserID   </th>
                          <th>UserName_By_Email2</th>
                          <th>Email</th>
                          <th>NameUser</th>
            
                      </tr>
                  </thead>
                  <tr *ngFor="let dataItem of userAll">
                    <td>{{dataItem.UserID}}</td>
                    <td>{{dataItem.UserName_By_Email}}</td>
                    <td>{{dataItem.Email}}</td>
                    <td>{{dataItem["NameUser"]}}</td> 
                   </h3>

