<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">General Ledgar</h1>
            <!-- <a routerLink="Login">Login</a><br>
            <a href="/Login"> Login</a><br> -->
            <!-- <a routerLink="User">User</a> -->
            <!-- <div class="date">
              <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
              <input type="date" data-date="" data-date-format="DD/MM/YYYY" value="2020-08-09">

              <script>
                  $("input").on("change", function() {
                   this.setAttribute(
                 "data-date",
                   moment(this.value, "YYYY-MM-DD")
                   .format( this.getAttribute("data-date-format") )
                   )
                  }).trigger("change")
              </script>
           <div class="datatable">
          </div> -->

          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="main/Manager">Home</a></li><!--fix-->
              <li class="breadcrumb-item active">General Ledgar</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

<section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">

<div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-info">
      <div class="inner">
        <h3>Cash</h3>

        <p></p>
      </div>
      <div class="icon">
          <i class="fas fa-hand-holding-usd"></i>
      </div>
      <a href="main/cash" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>

  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-success">
      <div class="inner">
        <h3>Account Receiveable</h3>

        <p></p>
      </div>
      <div class="icon">
          <i class="fas fa-hand-holding-usd"></i>
      </div>
      <a href="main/accountreceiveable" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>

  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-warning">
      <div class="inner">
        <h3>Inventory</h3>

        <p></p>
      </div>
      <div class="icon">
          <i class="fas fa-hand-holding-usd"></i>
      </div>
      <a href="main/inventory" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>

  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-danger">
      <div class="inner">
        <h3>Account Pay</h3>

        <p></p>
      </div>
      <div class="icon">
          <i class="fas fa-hand-holding-usd"></i>
      </div>
      <a href="main/accountpay" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>

